In [2]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
path = "/content/drive/MyDrive/Colab Notebooks/BBDD/retail_sales_dataset.csv"
df = pd.read_csv(path)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [20]:
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [9]:
# Calcula el total de ventas por categoría de producto
df.groupby("Product Category")["Total Amount"].sum()

Product Category
Beauty         143515
Clothing       155580
Electronics    156905
Name: Total Amount, dtype: int64

In [16]:
# Calcula el promedio de ventas diarias por categoría de producto.
filtro = df.groupby(["Date", "Product Category"])["Total Amount"].sum()

filtro.groupby("Product Category").mean()

Product Category
Beauty         703.504902
Clothing       670.603448
Electronics    716.461187
Name: Total Amount, dtype: float64

In [17]:
# Identifica las categorías de productos con mayores y menores ventas
df.groupby(["Product Category"])["Total Amount"].max()

Product Category
Beauty         2000
Clothing       2000
Electronics    2000
Name: Total Amount, dtype: int64

In [18]:
df.groupby(["Product Category"])["Total Amount"].min()

Product Category
Beauty         25
Clothing       25
Electronics    25
Name: Total Amount, dtype: int64

In [30]:
# Filtra los datos para mostrar solo las ventas de una categoría de producto específica
df["Product Category"].value_counts()

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

In [31]:
# Realiza operaciones de suma, resta, multiplicación y división en los datos para obtener estadísticas adicionales
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Transaction ID,1000.0,500.500,288.819436,1.0,250.75,500.5,750.25,1000.0
Age,1000.0,41.392,13.681430,18.0,29.00,42.0,53.00,64.0
Quantity,1000.0,2.514,1.132734,1.0,1.00,3.0,4.00,4.0
Price per Unit,1000.0,179.890,189.681356,25.0,30.00,50.0,300.00,500.0
Total Amount,1000.0,456.000,559.997632,25.0,60.00,135.0,900.00,2000.0

In [ ]:
precio_promedio = df["Price per Unit"].mean()
df["Diferencia_Precio"] = df["Price per Unit"] - precio_promedio
print(df[["Price per Unit", "Diferencia_Precio"]].head(10))